*{
    padding: 0;
    margin: 0;
}
.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 105, 233, 0.8),rgba(0, 105,233,0.8)),url(/Images/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}
.nav-bar{
    display: flex;
    height: 12%;
}
.navbar-left{
    flex-basis: 70%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.navbar-right{
    flex-basis: 30%;
    background: #fff;
}
.navbar-inner {
    display: flex;
    align-items: center;
    padding: 45px 50px 10px 50px;
    
}
.navbar-inner ul {
    margin-left: 20px;
    z-index: 2;
}
.navbar-inner ul li {
    margin: 0 10px;
    display: inline-block;
}
.navbar-inner ul li a {
    text-decoration: none;
    color: #fff
}
.navbar-right ul {
    float: right;
    padding: 35px 50px 10px 50px;
    
}
.navbar-right li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    
}
.navbar-right li a {
    text-decoration: none;
    color: black; 
}
.content{
    display: flex;
    height: 88%;
}
.content-left {
    flex-basis: 70%;
    position: relative;
}
.content-right {
    flex-basis: 30%;
    position: relative;
    background: #fff;
}
.upper-text{
    left: 15%;
    top: 20%;
    position: absolute;
    color: lightblue;
    opacity: .5;
}
.upper-text h1 {
    font-size: 90px;
    margin-left: 150px;
    line-height: 90px;
    font-style: italic;
}
.upper-text h2 {
    font-size: 50px;
    font-style: italic;
}
.lower-text {
    left: 55%;
    bottom: 12px;
    position: absolute;
    color: lightblue;
    opacity: .5;
}
.lower-text h1 {
    font-size: 100px;
    margin-left: 100px;
    line-height: 50px;
}
.lower-text h2 {
    font-size: 60px;
   
}
.lower-text h3 {
    font-size: 40px;
    margin-left: 225px;
    line-height: 10px;
}
.content-left img {
    top: 5%;
    right: -15%;
    position: absolute;
    z-index: 2;
    width: 75%;
    height: 75%;
}

.product-details{
    bottom: 10%;
    left: 10%;
    position: absolute;
    margin-bottom: 20px;

}
.price-box{
    display: flex;
    width: 170px;
    height: 150px;
    align-items: center;
    box-shadow: -40px 0 20px -40px rgba(189, 189, 189, 0.5),40px 0 20px -40px rgba(189, 189, 189, 0.5);
}
.price {
    flex-basis: 70%;
}
.price h2 {
    margin-left: 20px;
    color: #999;
    font-size: 22px;
}
.price h1 {
    margin-left: 20px;
    margin-bottom: 10px;
}
.price h3 {
    margin-left: 20px;
    color: #000;
}
.variant{
    flex-basis: 30%;
    text-align: center;
}
.variant div {
    width: 13px;
    height: 13px;
    margin: 10px auto;
    
}
.variant div:nth-child(1){
    background: blue;
    
}
.variant div:nth-child(2){
    background: red;
}
.variant div:nth-child(3){
    background: purple;
}
.variant div:nth-child(4){
    background: greenyellow;
}
.variant div:nth-child(5){
    background: purple;
}


